<div class="mdl-grid demo-content">
  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <!--<ml-chart></ml-chart>-->
    <ml-scatter-plot></ml-scatter-plot>
    <ml-scatter-plot></ml-scatter-plot>
    <ml-scatter-plot></ml-scatter-plot>
    <ml-scatter-plot></ml-scatter-plot>
  </div>
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
    <!--<ml-graph></ml-graph>-->
    <ml-histogram></ml-histogram>
  </div>
  <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <!--<ml-card></ml-card>-->
    <ml-line-chart></ml-line-chart>
  </div>

</div>